.title {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 35px;
}

.menu {
    position: absolute;
    top: 17px;
}

.menu ul {
    list-style: none;
}

.menu li {
    font-family: 'Squada One', cursive;
    font-size: 21px;
    display: inline;
    margin: 15px;
}

.menu li a:hover {
    color: black;
    transition: 0.5s;
}

.current {
    color: black;
}

.no-current {
    color: grey;
}

.menu li a {
    text-decoration: none;
}

.social {   
    position: absolute;
    top: 18px;
    right: 50px;
}

.social ul {
    list-style: none;
}

.social li {
    display: inline;
    margin: 10px;
}

.social ul li img {
    width: 20px;
    height: 20px;
}

.in {
    margin-bottom: 1px;
}


.first {
    width: 50%;
    float: left;
    padding-bottom: 50px;
}

.second {
    width: 50%;
    float: right;
    padding-bottom: 50px;
}

.images img {
    display: block;
    margin: auto;
    max-width: 85%;
    margin-top: 50px;
}

.images img:hover {
    opacity: 0.95;
    transition: 1s;
}

.video {
    display: block;
    margin: auto;
    max-width: 85%;
    margin-top: 50px;  
}

footer {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}

.footer {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 15px;
}

@media only screen and (min-width: 700px) {
    .images-responsive {
        display: none;
    }
}

/* CONTACT PAGE */

.contact-title {
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.social-media {
    margin-top: 80px;
    text-align: center;
    color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.social-media a {
    color: #464646;
    text-decoration: none;
}

.social-media a:hover {
    color: black;
    transition: 0.5s;
}

.footer-contact {
    position: fixed;
    bottom: 0;
    text-align: center;
}

.social-media img {
    height: 24px;
    width: 24px;
    margin: 2px 3px 0 0;
}

.social-footer {
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 0px;
}

.social-footer li {
    display: inline;
    margin: 5px;
}

.social-footer li img {
    width: 20px;
    height: 20px;
}

/* PORTFOLIO IMAGES */

.portfolio-image-container {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.portfolio-image {
    max-width: 80%;
    display: block;
    margin: auto;
}

/* RESPONSIVE */

@media only screen and (max-width: 700px) {

    .menu {
        position: relative;
        margin-top: -15px;
    }

    .portfolio {
        position: absolute;
        left: 60px;
    }

    .contact {
        position: absolute;
        right: 60px
    }

    .menu li {
        font-family: 'Squada One', cursive;
        font-size: 21px;
        display: inline;
    }

    .social {
        display: none;
    }

    .images {
        display: none;
    }

    .images-responsive img {
        display: block;
        margin: auto;
        max-width: 85%;
        margin-top: 15px;
    }

    .footer {
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-size: 12px;
    }

}

@media only screen and (max-width: 1000px) and (min-width: 700px) {

    .title {
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-size: 30px;
    }

    .menu {
        position: absolute;
        top: 13px;
    }

    .menu li {
        font-family: 'Squada One', cursive;
        font-size: 18px;
        display: inline;
        margin: 2px;
    }

    .social {   
        position: absolute;
        top: 15px;
        right: 40px;
    }
    
    .social li {
        display: inline;
        margin: 6px;
    }

    .social ul li img {
        width: 15px;
        height: 15px;
    }

    .images-responsive {
        display: none;
    }

}





