/* HEADER */

body {
    padding: 0;
    margin: 0;
}
.title {
    text-align: center;
    font-family: 'Poiret One', arial;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 0;
}

.sub-title {
    text-align: center;
    font-family: 'Poiret One', arial;
    font-size: 15px;
}

.filters {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 60px 0 -30px 0;
}

.filters li {
    font-family: 'Bebas Neue', arial;
    display: inline;
    font-size: 18px;
}

.filters li a {
    text-decoration: none;
}

.separator {
    margin: 0 3px 0 3px;
}

.menu {
    position: absolute;
    top: 17px;
}

.menu ul {
    list-style: none;
}

.menu li {
    font-family: 'Bebas Neue', arial;
    font-size: 21px;
    display: inline;
    margin: 15px;
}

.menu li a:hover {
    color: black;
    transition: 0.5s;
}

.current {
    color: black;
}

.no-current {
    color: grey;
}

.menu li a {
    text-decoration: none;
}

.social {   
    position: absolute;
    top: 18px;
    right: 50px;
}

.social ul {
    list-style: none;
}

.social li {
    display: inline;
    margin: 10px;
}

.social ul li img {
    width: 20px;
    height: 20px;
}

.img-social:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.in {
    margin-bottom: 1px;
}

/* IMAGES */
.video {
    display: block;
    margin: auto;
    width: 60%;
    max-width: 960px;
    margin-top: 50px;  
}

.images-responsive img {
    display: block;
    margin: auto;
    width: 60%;
    max-width: 960px;
    margin-top: 25px;
}

/* FOOTER */

footer {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}

.footer {
    text-align: center;
    font-family: 'Poiret One', arial;
    font-size: 15px;
}

/* CONTACT PAGE */

.contact-title {
    text-align: center;
    font-family: 'Poiret One', arial;
}

.social-media {
    margin-top: 80px;
    text-align: center;
    color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.social-media a {
    color: #464646;
    text-decoration: none;
}

.social-media a:hover {
    color: black;
    transition: 0.5s;
}

.footer-contact {
    position: fixed;
    bottom: 0;
    text-align: center;
}

.social-media img {
    height: 24px;
    width: 24px;
    margin: 2px 3px 0 0;
}

.social-footer {
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 0px;
}

.social-footer li {
    display: inline;
    margin: 5px;
}

.social-footer li img {
    width: 20px;
    height: 20px;
}

/* GALLERY */

#galeria-uno {
	display: none;
}

#galeria-dos {
	display: none;
}

.galeria-universal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0px;
	display: flex;
	align-items: center;
}

.back {
	top: 50%;
	left: 3%;
}

.next {
	top: 50%;
	right: 3%;
}

.exit {
	right: 3%;
}

.arrows {
	position: absolute;
	width: 40px;
	height: 40px;
}

.arrows:hover {
	cursor: pointer;
	transition: 1s;
	filter:invert(10%);
}

.container-gallery-1 {
	display: block;
	margin: auto;
    width: 60%;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px 10px 0px 10px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.container-gallery-2 {
	display: block;
	margin: auto;
    width: 80%;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px 10px 0px 10px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.images-universal {
    width: 100%;
}

@media (max-width: 900px) {
	.arrows {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 640px) {
	.arrows {
		width: 18px;
		height: 18px;
	}

	.back {
		top: 50%;
		left: 2%;
	}
	
	.next {
		top: 50%;
		right: 2%;
	}
	
	.exit {
		right: 2%;
	}
}

/* RESPONSIVE */

@media (max-width: 960px) {

    .video {
        width: 70%;
        max-width: 960px;
        margin-top: 50px;  
    }
    
    .images-responsive img {
        width: 70%;
        max-width: 960px;
        margin-top: 25px;
    }

    .title {
        text-align: center;
        font-family: 'Poiret One', arial;
        font-size: 30px;
    }

    .menu {
        position: absolute;
        top: 13px;
    }

    .menu li {
        font-family: 'Bebas Neue', arial;
        font-size: 18px;
        display: inline;
        margin: 2px;
    }

    .social {   
        position: absolute;
        top: 15px;
        right: 40px;
    }
    
    .social li {
        display: inline;
        margin: 6px;
    }

    .social ul li img {
        width: 15px;
        height: 15px;
    }

}

@media (max-width: 700px) {

    .video {
        width: 90%;
        max-width: 960px;
        margin-top: 50px;  
    }
    
    .images-responsive img {
        width: 90%;
        max-width: 960px;
        margin-top: 25px;
    }

    .menu {
        position: relative;
        margin-top: -15px;
    }

    .portfolio {
        position: absolute;
        left: 60px;
    }

    .contact {
        position: absolute;
        right: 60px
    }

    .menu li {
        font-family: 'Bebas Neue', arial;
        font-size: 21px;
        display: inline;
    }

    .social {
        display: none;
    }

    .footer {
        text-align: center;
        font-family: 'Poiret One', arial;
        font-size: 12px;
    }

}







